.formikAndYup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/wp8971473.jpg);
  background-position: center;
}
.formikAndYup > div {
  padding: 0.5rem;
  width: fit-content;

  background-color: #6f6d6d78;
  border: 1px solid #bb2d3b;
}
